.choosenProduct_page {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.choosenProduct_page .category_top_frame {
    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--Color-Border);
}

.choosenProduct_page .category_top_frame .container {
    height: 50px;
    flex-direction: row;
}

.choosenProduct_page .category_top_frame .container div {
    width: 10%;
    display: flex;
    align-items: center;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;

    color: var(--Color-Text-Dark);
}

.choosenProduct_page .category_top_frame .container div:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--Color-Text-Dark);
}

/* PAGINATION */
.choosenProduct_page .container .category_top {
    position: relative;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choosenProduct_page .container .category_top span {
    font-family: var(--font);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: var(--Color-Text-Dark);
}

.choosenProduct_page .container .category_top div {
    display: flex;
    flex-direction: row;
}
  
.choosenProduct_page .container .category_top a {
    margin-right: 0px;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
  
.choosenProduct_page .container .pagination_box {
    margin-right: 0px;
    width: 100%;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.choosenProduct_page .pagination_box .pagination_main {
    width: 170px;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.choosenProduct_page .pagination_main .pagination_dot {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
  
.choosenProduct_page .pagination_box .pagination_main img {
    cursor: pointer;
}
  
.choosenProduct_page .container .pagination_box .pagination_dot .dot {
    width: 20px;
    height: 20px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
  
.choosenProduct_page .container .pagination_box .pagination_dot .dot.active {
    border: 2px solid var(--Color-Border-Dark);
}
  
.choosenProduct_page .container .pagination_box .pagination_dot .dot div {
    width: 4px;
    height: 4px;
    background: var(--Color-Border-Dark);
    border-radius: 50%;
}
  
.choosenProduct_page .container .pagination_box .next_prev_box {
    width: 25px;
}
  
.choosenProduct_page .container .pagination_box .next_prev_box img {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

/* CARD BOX */
.choosenProduct_page .choosenPro_card_box {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choosenPro_card_box .container {
    flex-direction: column;
}

.choosenPro_card_box .container .card_main_box {
    width: 100%;
    height: 838px;

    display: flex;
    flex-direction: row;
}

.container .card_main_box .card_box_left { 
    width: 637px;
    height: 838px;
     
    display: flex;
    flex-direction: column;
}

.card_box_left .card_image_top {
    width: 631px;
    height: 686px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: cover no-repeat;
}

.card_box_left .card_image_top img {
    z-index: -1;
}

.card_box_left .card_image_top p {
    margin: 0px 224.5px 44px;
    width: 182px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 

    color: var(--Color-Text-Dark);
}

.container .card_box_left .card_image_bott {
    width: auto;
    height: 152px;
}

.card_image_bott .image_box {
    width: auto;
    height: 90px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    box-sizing: border-box;
}

.card_image_bott .image_box img {
    margin-right: 18px;
    padding: 10px 9.2px;
    width: 83px;
    height: auto;

    display: flex;
    justify-content: space-between;

    border-radius: 6px;
    border: 1px solid var(--Color-Border);
    background: var(--Bg-White);
    cursor: pointer;
}

.container .card_box_right {
    margin-left: 50px;
    width: 637px;
    height: 838px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.card_box_right .review_box {
    width: auto;
    height: 22px;

    justify-content: center;
}

.card_box_right .review_box .review_title {
    padding-right: 10px;

    font-family: var(--font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-transform: uppercase;

    border-right: 1px solid var(--Color-Border);
    color: var(--Color-Text-Light);
}

.card_box_right .review_box img {
    margin-left: 2px;
}

.card_box_right .review_box span {
    margin-left: 10px;
}

.card_box_right .box_right_title {
    width: 100%;
    height: 64px;

    font-family: var(--font);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: var(--Color-Text-Dark);
}

.card_box_right .box_right_title .border_box {
    margin-top: 10px;
    border-bottom: 1px solid var(--Color-Border);
}

.card_box_right .price_box {
    width: 100%;
    height: 38px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.card_box_right .price_box strong {
    width: 85px;
    height: 38px;

    font-family: var(--font);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: var(--Color-Text-Dark);
}

.card_box_right .price_box span {
    margin-left: 10px;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    text-decoration-line: line-through;

    color: var(--Color-Text-Light);
}

.card_box_right .card_info_box {
    width: 100%;
    height: 210px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card_box_right .card_info_box .box_left {
    width: 196px;
    height: auto;

    flex-direction: column;

    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

    color: var(--Color-Text-Dark);
}

.card_box_right .card_info_box .box_right {
    margin-left: 40px;
    width: 89px;
    height: auto;

    flex-direction: column;

    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 

    color: var(--Color-Text-Dark);
}

.card_box_right .cart_box {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-top: 1px solid var(--Color-Border);
    border-bottom: 1px solid var(--Color-Border);
    cursor: pointer;
}

.card_box_right .cart_box .count_box {
    width: 154px;
    height: 52px;

    border-radius: 60px;
    border: 1px solid var(--Color-Border);
    background: var(--Bg-White);
}

.card_box_right .cart_box .count_box .count_left {
    margin: 11px 108px 11px 11.7px;
    width: 35px;
    height: 30px;
}

.card_box_right .cart_box .count_box span {
    position: relative;
    margin: -36px 71px 16px 71px;

    display: block;
    justify-content: center;
    text-align: center;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 

    color: var(--Color-Text-Dark);
}

.card_box_right .cart_box .count_box .count_right {
    margin: -75px 11.7px 11px 108px;
    width: 35px;
    height: 30px;
}

.card_box_right .cart_box .add_cart_box {
    margin-left: 23px;
    width: 175px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 60px;
    border: 1px solid var(--Bg-2);
    background: var(--Bg-2);
    cursor: pointer;
}

.card_box_right .cart_box .add_cart_box span {
    width: 74px;
    height: 22px;

    text-align: center;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 

    color: var(--Color-Text-Dark);
}

.card_box_right .cart_box .add_cart_box span:hover {
    color: var(--Bg-White);
}

.card_box_right .cart_box .buy_now_box {
    margin-left: 23px;
    width: 175px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 60px;
    border: 1px solid var(--Bg-1);
    background: var(--Bg-1);
    cursor: pointer;
}

.card_box_right .cart_box .buy_now_box span {
    width: 74px;
    height: 22px;

    text-align: center;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 

    color: var(--Bg-White);
}

.card_box_right .cart_box .buy_now_box span:hover {
    background: var(--Bg-White);
    color: var(--Color-Text-Dark);
}

.card_box_right .product_info_box {
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 

    color: var(--Color-Text-Dark);
}

.card_box_right .share_media_box {
    padding-bottom: 20px;
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 1px solid var(--Color-Border);
}

.card_box_right .share_media_box .media_box i {
    margin-right: 15px;
}

.card_box_right .shipping_box {
    width: 100%;
    height: 111px;

    display: flex;
    flex-direction: column;
}

.card_box_right .shipping_box .free_shipping_box img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.card_box_right .shipping_box .free_shipping_box span {
    margin-top: 5px;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 

    color: var(--Color-Text-Dark);
}

.card_box_right .shipping_box .shipped_by_box {
    margin-top: 15px;
}

.card_box_right .shipping_box .shipped_by_box img {
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.card_box_right .shipping_box .shipped_by_box span {
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 

    color: var(--Color-Text-Dark);
}

.card_box_right .shipping_box .shipped_by_box strong {
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;

    color: var(--Color-Text-Dark);
}

.card_box_right .shipping_box .free_return_box {
    margin-top: 15px;
}

.card_box_right .shipping_box .free_return_box img {
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.card_box_right .shipping_box .free_return_box span {
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 

    color: var(--Color-Text-Dark);
}

.card_box_right .shipping_box .free_return_box a {
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: underline;

    color: var(--Color-Text-Dark);
}

.choosenPro_card_box .product_content_box {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: 770px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_content_box .content_menu_box {
    width: 100%;
    height: 68px;
}

.content_menu_box .content_menu_top {
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    border-top: 1px solid var(--Color-Border);
    border-bottom: 1px solid var(--Color-Border);
}

.content_menu_box .content_menu_top div {
    margin-right: 40px;

    display: flex;
    text-align: center;

    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: var(--Color-Text-Light);
    cursor: pointer;
}

.content_menu_box .content_menu_top div.active {
    color: var(--Color-Text-Dark);
} 

.content_menu_box .content_menu_top div:hover {
    border-bottom: 1px solid var(--Color-Text-Dark);
    color: var(--Color-Text-Dark);
} 

.content_menu_box .content_menu_bott {
    position: relative;

    display: flex;

    margin-top: 30px;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 

    color: var(--Color-Text-Dark);
}

/* MOVING MENU */
.choosenProduct_page .moving_menu_frame {
    margin-bottom: 30px;
    width: 100%;
    height: 68px;

    display: flex;
    justify-content: center;
}

.moving_menu_frame .container {
    height: 100%;

    flex-direction: row;
    border-top: 1px solid var(--Color-Border);
    border-bottom: 1px solid var(--Color-Border);
}

.moving_menu_frame span {
    margin-right: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;

    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;

    color: var(--Color-Text-Light);
}

.moving_menu_frame span.active {
    color: var(--Color-Text-Dark);
    border-bottom: 2px solid var(--Color-Text-Dark);
}

/* MORE INFORMATION */
.choosenProduct_page .more_information_frame {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.more_information_frame .container {
    flex-direction: column;
}

.more_information_frame .container p {
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 

    color: var(--Color-Text-Dark);
}

.more_information_frame .container strong {
    margin-top: 30px;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: var(--Color-Text-Dark);
}

.more_information_frame .container span {
    margin: 20px 0px 10px 0px;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 

    color: var(--Color-Text-Dark);
}

.more_information_frame .container ul {
    margin: 0px;
}

.more_information_frame .container li {
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 

    color: var(--Color-Text-Dark);
}

/* RELATED PRODUCT */
.top_product_frame {
    margin-top: 60px;
    width: 100%;
    height: 462px;

    display: flex;
    flex-direction: column;
}

.top_product_frame .container {
    flex-direction: column;
}

.top_product_frame .container .product_wrapper {
    position: relative;
    margin-top: 30px;
    width: 1320px;
    height: 392px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.top_product_frame .product_wrapper .product_boxes {
    position: relative;
    width: 100%;
    height: auto;
  
    display: flex;  
    flex-direction: row;
}

.top_product_frame .product_boxes .product_box {
    width: 220px;
    height: 100%;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--Color-Border);
    background: var(--Bg-White);
}

.top_product_frame .product_box .product_box_top {
    padding: 15px 14px ;
    width: 100%;
    height: 220px;

    box-sizing: border-box;
}

.top_product_frame .product_box .product_img_box {
    width: 180px;
    height: 190px;

    background: var(--Bg-White);
    background: lightgray 50% / cover no-repeat;
}

.top_product_frame .product_box .product_box_bott {
    position: relative;
    width: auto;
    height: 160px;

    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
}

.top_product_frame .product_box .product_content_box {
    padding: 0px 20px 0px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-items: start;
    box-sizing: border-box;
}

.top_product_frame .product_content_box .product_title {
    font-family: var(--font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-transform: uppercase;

    color: var(--Color-Text-Light);
}

.top_product_frame .product_content_box .product_desc {
    margin-top: 7px;
    height: 56px;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    overflow: hidden;

    color: var(--Color-Text-Dark);
}

.top_product_frame .product_content_box .review_box {
    margin-top: 7px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.top_product_frame .review_box img {
    margin-right: 5px;
}

.top_product_frame .review_box span {
    margin-left: 10px;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    color: var(--Color-Text-Light);
}

.top_product_frame .product_content_box .price_box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top_product_frame .product_content_box .price_box strong {
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 

    color: var(--Color-Text-Dark);
}

.top_product_frame .product_content_box .price_box span {
    margin-left: 10px;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-decoration-line: line-through;

    color: var(--Color-Text-Light, #626974);
}

