.shop_page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop_page .category_top_frame {
    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--Color-Border);
}

.shop_page .category_top_frame .container {
    height: 50px;
    flex-direction: row;
}

.shop_page .category_top_frame .container div {
    width: 10%;
    display: flex;
    align-items: center;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;

    color: var(--Color-Text-Dark);
}

.shop_page .category_top_frame .container div:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--Color-Text-Dark);
}

.shop_page .header_frame {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.shop_page .header_frame .container {
    height: 424px;
    flex-direction: row;

    background: url(../images/icons/shop_header_bg.png);
}

.shop_page .container .header_content {
    margin-left: 75px;
    width: 366px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop_page .header_content span {
    width: 366px;
    height: auto;
    font-family: var(--font);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;

    color: var(--Color-Text-Dark);
}

.shop_page .header_content p {
    margin: 18px 0px;

    height: auto;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    color: var(--Color-Text-Dark);
}

.shop_page .header_content a {
    width: 145px;
    height: 50px;

    background: var(--Bg-2);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--Bg-2);
    border-radius: 6px;

    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    color: var(--Color-Text-Dark);
}

.shop_page .container .category_top {
    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.shop_page .container .category_top div {
    display: flex;
    flex-direction: row;
}
  
.shop_page .container .category_top span {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-transform: capitalize;
  
    color: var(--Color-Text-Dark);
}
  
.shop_page .container .category_top a {
    margin-left: 30px;
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px; 
    text-transform: capitalize;
  
    color: var(--Color-Text-Dark);
}
  
.shop_page .container .category_top a:hover {
    border-bottom: 2px solid var(--Color-Text-Dark);
}

/* .shop_page .brands_frame {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shop_page .brands_frame .container {
    flex-direction: column;
}

.shop_page .spec_title {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px; 
  
    color: var(--Color-Text-Dark);
}

.shop_page .brands_frame .brands_wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.shop_page .brands_wrapper .brand_box {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 35px;

    border: 1px solid var(--Color-Border);
    border-radius: 6px;

    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px; 
  
    color: var(--Color-Text-Dark);
}

.shop_page .brands_wrapper .brand_box.active {
    background: var(--Bg-1);
    color: var(--Bg-White);
} 

.shop_page .brands_wrapper .brand_box:hover {
    cursor: pointer;
    background: var(--Bg-1);
    color: var(--Bg-White);
} */

/* PAGINATION */
.shop_page .container .pagination_box {
    margin-top: 90px;   
    margin-left: 10px;

    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: row;
}
  
.shop_page .container .pagination_box .pagination_main {
    width: auto;
    height: 24px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.shop_page .pagination_box .pagination_main img {
    cursor: pointer;
}
  
.shop_page .container .pagination_box .pagination_main .pagination_dot {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}
  
.shop_page .container .pagination_box .pagination_dot .dot {
    width: 20px;
    height: 20px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
  
.shop_page .container .pagination_box .pagination_dot .dot.active {
    border: 2px solid #112137;
}
  
.shop_page .container .pagination_box .pagination_dot .dot div {
    width: 4px;
    height: 4px;
    background: #112137;
    border-radius: 50%;
}
  
.shop_page .container .pagination_box .next_prev_box {
    width: 25px;
}
  
.shop_page .container .pagination_box .next_prev_box img {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

  /* SHOP CATEGORY */
.shop_category_frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;
  
    display: flex;
    justify-content: center;
}
  
  .shop_category_frame .container {
    flex-direction: column;
}
  
.shop_category_frame .container .category_wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.shop_category_frame .category_wrapper .category_box {
    width: 142px;
    height: auto;
  
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
  
.shop_category_frame .category_box .category_img_box {
    width: 100%;
    height: 150px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 150px;
    border: 1px solid #EAEAEA;
    background: #FFF;
}
  
.shop_category_frame .category_box span {
    margin-top: 15px;
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px; 
  
    text-align: center;
    color:  var(--Color-Text-Dark);
}

  /* BRAND FRAME */
.shop_brands_frame {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.shop_brands_frame .container {
    flex-direction: column;
}

.shop_brands_frame .container .shop_brand_top {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.shop_brands_frame .shop_brand_top span {
    font-family: var(--font);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color:  var(--Color-Text-Dark);
}

.shop_brands_frame .container .shop_brand_bottom {
    position: relative;
    margin-top: 30px;
    margin-right: 30px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: start;
}

.shop_brands_frame .shop_brand_bottom .brand_route_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shop_brands_frame .shop_brand_bottom .brand_route_menu button.active {
    background: var(--Bg-1);
    border: 1px solid var(--Bg-White);
}

.shop_brands_frame .shop_brand_bottom .brand_route_menu button:hover {
    background: var(--Bg-1);
    border: 1px solid var(--Bg-White);
}

/* SELLING PRODUCT */
.selling_product_frame {
    margin-top: 60px;
    width: 100%;
    height: 462px;

    display: flex;
    flex-direction: column;
}

.selling_product_frame .container {
    flex-direction: column;
}

.selling_product_frame .container .category_top {
    position: relative;
    height: 40px;
}

.selling_product_frame .container .category_top div {
    display: flex;
    flex-direction: row;
}
  
.selling_product_frame .container .category_top a {
    width: 170px;
    height: 40px;

    display: flex;
    justify-content: end;
}
  
.selling_product_frame .container .pagination_box {
    margin-top: 15px;   
    margin-right: 0px;

    width: 100%;
    height: 24px;
  
    display: flex;
    flex-direction: row;
}

.selling_product_frame .container .pagination_box .pagination_main .pagination_dot {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
}

.selling_product_frame .container .product_wrapper {
    position: relative;
    margin-top: 30px;
    width: 1320px;
    height: 392px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.selling_product_frame .product_wrapper .product_boxes {
    position: relative;
    width: 100%;
    height: auto;
  
    display: flex;  
    flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
    width: 220px;
    height: 100%;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--Color-Border);
    background: var(--Bg-White);
}

.selling_product_frame .product_box .product_box_top {
    padding: 15px 14px ;
    width: 100%;
    height: 220px;

    box-sizing: border-box;
}

.selling_product_frame .product_box .product_img_box {
    width: 180px;
    height: 190px;

    background: var(--Bg-White);
    background: lightgray 50% / cover no-repeat;
}

.selling_product_frame .product_box .product_box_bott {
    position: relative;
    width: auto;
    height: 160px;

    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
}

.selling_product_frame .product_box .product_content_box {
    padding: 0px 20px 0px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-items: start;
    box-sizing: border-box;
}

.selling_product_frame .product_content_box .product_title {
    font-family: var(--font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-transform: uppercase;

    color: var(--Color-Text-Light);
}

.selling_product_frame .product_content_box .product_desc {
    margin-top: 7px;
    height: 56px;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    overflow: hidden;

    color: var(--Color-Text-Dark);
}

.selling_product_frame .product_content_box .review_box {
    margin-top: 7px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.selling_product_frame .review_box img {
    margin-right: 5px;
}

.selling_product_frame .review_box span {
    margin-left: 10px;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    color: var(--Color-Text-Light);
}

.selling_product_frame .product_content_box .price_box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selling_product_frame .product_content_box .price_box strong {
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 

    color: var(--Color-Text-Dark);
}

.selling_product_frame .product_content_box .price_box span {
    margin-left: 10px;
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-decoration-line: line-through;

    color: var(--Color-Text-Light, #626974);
}

/* ALL PRODUCT */
.all_product_frame {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.all_product_frame .container {
    margin-top: 0px;
    flex-direction: column;
}

.all_product_frame span {
    margin-top: 65px;
    width: 355px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-family: var(--font);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: var(--Color-Text-Dark);
}

.all_product_frame .product_menu_box {
    width: 646px;
    height: 22px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    color: var(--Color-Text-Dark);
}

.all_product_frame .border_box {
    margin-top: 20px;
    width: 1320px;
    height: 1px;
    border: 1px solid var(--Color-Border);
}

.container .option_menu_box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.option_menu_box .btn-group {
    margin-right: 5px;
}

.all_product_frame .container .all_product_wrapper {
    position: relative;
    margin-top: 0px;
    width: 1320px;
    height: 452px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all_product_frame .all_product_wrapper .all_product_boxes {
    position: relative;
    width: 100%;
    height: auto;
  
    display: flex;  
    flex-direction: row;
}

.all_product_frame .all_product_boxes .all_product_box {
    width: 263px;
    height: 452px;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--Color-Border);
    background: var(--Bg-White);
}

.all_product_frame .all_product_box .all_product_box_top {
    padding: 15px 14px ;
    width: 100%;
    height: 252px;

    box-sizing: border-box;
}

.all_product_frame .all_product_box .product_img_box {
    width: 215px;
    height: 230px;

    background: var(--Bg-White);
    background: lightgray 50% / cover no-repeat;
}

.all_product_frame .all_product_box .all_product_box_bott {
    position: relative;
    width: auto;
    height: 200px;

    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
}

.all_product_frame .all_product_box .all_product_content_box {
    padding: 0px 20px 0px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-items: start;
    box-sizing: border-box;
}

.all_product_frame .all_product_content_box .all_product_title {
    margin-top: 10px;
    width: auto;
    height: auto;

    align-items: flex-start;
    font-family: var(--font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-transform: uppercase;

    color: var(--Color-Text-Light);
}

.all_product_frame .all_product_content_box .all_product_desc {
    margin-top: 10px;
    width: 225px;
    height: 56px;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    overflow: hidden;

    color: var(--Color-Text-Dark);
}

.all_product_frame .all_product_content_box .review_box {
    margin-top: 10px;
    width: auto;
    height: 25px;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.all_product_frame .review_box img {
    margin-right: 5px;
}

.all_product_frame .review_box span {
    margin-top: 0px;
    margin-left: 10px;
    height: auto;

    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    color: var(--Color-Text-Light);
}

.all_product_frame .all_product_content_box .price_box {
    margin-top: 15px;
    width: auto;
    height: 30px;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.all_product_frame .all_product_content_box .price_box strong {

    font-family: var(--font);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 

    color: var(--Color-Text-Dark);
}

.all_product_frame .all_product_content_box .price_box span {
    margin-top: 0px;
    margin-left: 10px;
    height: auto;

    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-decoration-line: line-through;

    color: var(--Color-Text-Light, #626974);
}

/* ALL PRODUCT PAGINATION */
.shop_page .all_product_pagination {
    position: relative;
    margin-top: 60px;   
    width: 1320px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_page .all_product_pagination .product_pagination_box {
    margin-bottom: 30px;
    margin-left: 430px;
    width: 460px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_page .product_pagination_box .next_prev_btn {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--Bg-White);
    border-radius: 50%;
    border: 1px solid var(--Color-Border);
    cursor: pointer;
}

.shop_page .next_prev_btn img {
    width: 15px;
    height: 15px;
}

.shop_page .all_product_pagination .pagination_number_wrap {
    width: 312px;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-items: center;
}   

.shop_page .pagination_number_wrap .pagination_number_box {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    cursor: pointer;
}

.shop_page .pagination_number_wrap .pagination_number_box.active {
    background: var(--Bg-2);
    border: 1px solid var(--Bg-2);
}

.shop_page .pagination_number_wrap .pagination_number_box:hover {
    background: var(--Bg-3);
    border: 1px solid var(--Bg-3);
}




